body {
background: url(background2.jpg);
}

p {
text-align: center;
}

#header {
     width: 100%;
     height: 60px;
 font-family: 'Playfair Display SC', serif;
color:white;

}
 
#container {
     margin: auto auto;
     text-align: center;
     width: 100%;
     height: 400px;
}
 
#navigation {
     width: 100%;
     height: 35px;
font-family: 'Old Standard TT', serif;
}

#content {
background: black;
font-family: 'Old Standard TT', serif;
     float: right;
     width: 100%;
     height: 320%;
border-left:3px solid #fbe4ff;
border-right:3px solid #fbe4ff;
border-top:3px solid #fbe4ff;
border-bottom:3px solid #fbe4ff;
	box-shadow: 0 20px 20px -20px #333;
color:white;
}
 
#clear {
     clear: both;
}
 
#footer {
font-family: 'Old Standard TT', serif;
	width: 100%;
	height: 23%;
color: white;
}

<!-- таблицы -->

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
}
th {
background: #e393b0;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 10px;
}
th:last-child {
border-top-right-radius: 10px;
border-right: none;
}
td {
padding: 10px 20px;
background: #ffd1dc;
}
tr:last-child td:first-child {
border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
border-radius: 0 0 10px 0;
}
tr td:last-child {
border-right: none;
}

<!-- формы -->

.call{
	width: 100%;
	max-width: 350px;
font-family: 'Old Standard TT', serif;
}
.form-call{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-call div{
	padding: 15px 0;
}
.send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-call label,.form-call input{
display: block;
width: 100%;
box-sizing: border-box;
}
.form-call label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-call input{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-call label span{
	color: red;
}
.form-call .send-mail{
	padding: 15px;
	margin-top: 10px;
background: none;
border: none;
text-transform: uppercase;
color: #fff;
font-family: 'Old Standard TT', serif;
	font-weight: bold;
	background-color: #d86b93;
	cursor: pointer;
	border: 3px #d86b93 solid;
	border-radius: 5px;
}
.form-call .send-mail:hover{
	color: #d86b93;
	background-color: #fff;
}

/* Добавить черный цвет фона для верхней навигации */
.topnav {
  background-color: none;
  overflow: hidden; 
  margin-bottom: 8px;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
  float: center;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 17px;
font-family: 'Old Standard TT', serif;
}

/* Добавить активный класс для выделения текущей страницы */
.active {
  background-color: #2F4F4F;
  color: white;
}

/* Скрыть ссылку, которая должна открывать и закрывать верхнюю навигационную панель на небольших экранах */
.topnav .icon {
  display: none;
}

/* Выпадающий контейнер - необходим для размещения выпадающего содержимого */
.dropdown {
  float: center;
  overflow: hidden; 
  display: inline;
}

/* Стиль кнопки выпадающего списка, чтобы соответствовать внутри верхней навигации */
.dropdown .dropbtn {
  float: center;
  display: inline;
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Стиль раскрывающегося списка (по умолчанию скрыт) */
.dropdown-content {
  float: center;
  display: none;
  position: absolute; 
  background-color: #a9a9a9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Стиль ссылки внутри выпадающего списка */
.dropdown-content a {
  float: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Добавить темный фон на верхних навигационных ссылках и выпадающая кнопка при наведении курсора */
.topnav a:hover, .dropdown:hover .dropbtn {
  float: center;
  background-color: #555;
  color: white;
}

/* Добавить серый фон для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Отображение выпадающего меню при наведении курсора мыши на кнопку раскрывающегося списка */
.dropdown:hover .dropdown-content {
  display: inline;
}

/* Если ширина экрана меньше 600 пикселей, скройте все ссылки, кроме первой ("Главная"). Показать ссылку, которая содержит должен открыть и закрыть верхнюю навигационную панель (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Класс "responsive" добавляется в верхнюю навигационную панель с помощью JavaScript, когда пользователь нажимает на значок. Этот класс делает topnav хорошо выглядеть на небольших экранах (отображать ссылки по вертикали, а не по горизонтали) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute; 
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

<!-- Стиль изображений -->

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Создайте два одинаковых столбца, которые находятся рядом друг с другом */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  width: 24%;
  height: 24%;
}
